<html>
    <head>
        <title>Welcome, <%= username %></title>
    </head>
    <body>
        <h1><a href="/author/new_post">Create a new post</a></h1>
        <h1><a href="/posts_list">See posts</a></h1>
    </body>
</html>