<html>
    <head>
        <title>Welcome, </title>
    </head>
    <body>
        <button id="logout">Log out</button>
        <hr>
        <h1><a href="/author/new_post">Create a new post</a></h1>
        <h1><a href="/posts_list">See posts</a></h1>
        <script src="/scripts/service_worker_loader.js"></script>
        <script>
            document.title += localStorage.getItem('username');
            document.querySelector('#logout').addEventListener('click', () => {
                localStorage.removeItem('loginToken');
                localStorage.removeItem('username');
                localStorage.removeItem('userId');
                localStorage.removeItem('userType');
                window.location.href = '/';
            });
        </script>
    </body>
</html>