<html>
    <header>
        <title>Error page</title>
    </header>
    <body>
        <h1>Something went wrong</h1>
        <div>
            <a href="/">Homepage</a>
        </div>
        <script src="/scripts/service_worker_loader.js"></script>
    </body>
</html>