html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

*{
    box-sizing: border-box;
}

#main-content{
    display: grid;
    margin: 0 auto;
    width: 91.375rem;
    height: 51.3125rem;
    grid-template: 38.8125rem 12.5rem / repeat(4, 1fr);
}

#main-content > *:first-child{
    grid-column: 1 / span 4;
}

#hero{
    background-image: url('assets/your_verse_hero.jpg');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 100% auto;
}

.img-promo{
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.img-promo:first-of-type{
    margin-left: 0;
}

.img-promo:last-of-type{
    margin-right: 0;
}

#contact-info{
    margin: 1rem auto 2.6em;
    width: 980px;
    height: 53.9971px;
}

