html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

*{
    box-sizing: border-box;
}

a{
    color: #08c;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.clickable{
    cursor: pointer;
}

#main-content{
    display: grid;
    margin: 0 auto;
    width: 91.375rem;
    height: 51.3125rem;
    grid-template: 38.8125rem 12.5rem / repeat(4, 1fr);
}

#main-content > *:first-child{
    grid-column: 1 / span 4;
}

#hero{
    background-image: url('assets/your_verse_hero.jpg');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 100% auto;

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gradient-bar{
    width: 61.25rem;
    height: 2.25rem;
    margin-top: 5.1875rem;
    margin-bottom: 3.125rem;

    background-image: linear-gradient(#737373 0%, #5e5e5e 50%, #707070 calc(50% + 1px), #8d8d8d calc(100% - 1px), #6d6d6d 100%);
    /* Code in the original page:
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0.45) 100%), linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 0.2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, 0.2) 100%), url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHVQTFRFAAAA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F5YtmQAAAACd0Uk5TAAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8gISIjJCUmZiD6WAAAAdlJREFUeF7t3btuFEEQheFzunotGYkIERA4spn3fyeHiAgEEtsXB82s2eEJavR%2F0Wjyo75XWfHpw4MkSXNqCkA2lr2%2B%2Fvz63n15qpI0x5yTSAM52XaxJLVXf%2FkoaY6xQk2sgXy8Ql2KJf3wS5HG6HMMQg3kZNkuxVGKNLxJo48%2BxhxTpBrIx7JcXEqUKJI3zd77CjWLaiAle4U6Iixv6q33MfocTL%2BBlCy7OEqJqCFvs%2FV2m3%2BTaiAd6zb7rlHtrbc1VA%2Bm30BSa%2B%2B7RNSo4a21thbVTL%2BBnCy7rCV1rdXbtbXW%2B%2Bh%2Ft78BZLM2v6NE1Fov%2FrpC3Zl%2BA2l5H6lrrRe%2FXNu%2BqCbUQE57qGvsoW5t9D4H028gJculOKLUWuvFz%2B16O9NipAZSsm8nWpfq53ZlTQ3k9s%2BamlADZ0CogZMh1MDJEGrgZAg1cDL%2Fh5ojLSC1%2ByMtLp8A2R0un3BNFEjv%2FpooDzqA9O4fdPD0Esju8PSSIglAdsciCZQzArI7lDOat30yCg8CGe2FB1eovZcI7oMSwUBSq0TwWlQHxfyBEzgW86ftDpDase0ODfKA7A4N8mhlC2R318r2px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC"), linear-gradient(rgb(102, 102, 102) 0%, rgb(94, 94, 94) 50%, rgb(112, 112, 112) 51%, rgb(128, 128, 128) 100%);*/

    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
}

#hero-title{
    margin-bottom: -0.6rem;
}

#hero-subtitle{
    margin-bottom: 1.6875rem;
}

#hero-watch{
    width: 61.25rem;
    height: 1.9375rem;
    background-image: url("assets/cta_your_verse_27pt.png");
    background-repeat: no-repeat;
    background-position-y: 0%;
}

#hero-watch:hover{
    background-position-y: 99%;
}

.img-promo{
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.img-promo:first-of-type{
    margin-left: 0;
}

.img-promo:last-of-type{
    margin-right: 0;
}

#contact-info{
    margin: 1rem auto 2.6em;
    width: 61.25rem;
    height: 5.625rem;

    display: flex;
    justify-content: space-around;
}


p{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #6e6e6e;
    font-size: 0.62505rem;
    line-height: 0.75rem;
}

.bottom-info{
    margin-top: 0.937575rem;
}

p img{
    vertical-align: middle;
}