html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-rows: 6rem auto;
}
#top-bar{
    background-color: rgb(38, 205, 247);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
    /*gap: 1rem;*/
}

#top-bar > *{
    text-align: center;
    margin: 1rem;
}

button{
    text-transform: capitalize;
}

#content{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-where-waldo{
    margin: auto;
}

#popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white-rectangle{
    background-color: white;
    padding: 2rem;
}