html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-rows: 6rem auto;
}
#top-bar{
    background-color: rgb(38, 205, 247);
    display: grid;
    grid-template-areas: ". . ht . bl";
    gap: 1rem;
}

#header-title{
    grid-area: ht;
    text-align: center;
}

#button-login{
    grid-area: bl;
    margin: 1rem;
}

#content{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-where-waldo{
    margin: auto;
}

#popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
}