html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a{
    color: rgb(50, 104, 145);
}

a:hover{
    text-decoration: none;
}

.clickable{
    cursor: pointer;
}

.minimal-button{
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    transition: 0.9s;
}

.minimal-button:hover{
    background-color: rgba(216, 216, 216, 0.486);
}

.minimal-a{
    text-decoration: none;
    font-weight: bold;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    color: black;
}

.minimal-a:hover{
    text-decoration: underline;
}

.color-button{
    background-color: #567b95;
    border-color: transparent;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 0.6875rem;
    height: 2rem;
    margin: 0.1rem;
    color: white;
    border-radius: 0.25rem;
    transition: 0.9s;
}

.color-button:hover{
    background-color: #326891;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black-text{
    color: black;
}

.vertical-margin{
    margin-top: 2.6875rem;
    margin-bottom: 1.5625rem;
}

.vertical-margin > *{
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

header{
    border-bottom: thin solid rgb(177, 177, 177);
    background-color: white;
    height: 3rem;
    width: 100%;
    position: fixed;
    top: 0;
    display: grid;
    grid-template: 100% / 1fr auto 3fr auto 3fr auto 1fr;
}

header > *{
    display: flex;
    align-items: center;
}

header > img{
    vertical-align: bottom;
}

header > :first-child{
    grid-column: 2 / span 1;
}

header > :nth-child(2){
    grid-column: 4 / span 1;
}

header > :last-child{
    grid-column: 6 / span 1;
}

.column-width{
    width: 37.5rem;
}

iframe.column-width{
    height: 21.09375rem;
}

h1{
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
}

.article{
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

.align-image{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.align-image img{
    width: 100%;
}

.img-caption{
    margin-top: 0.5rem;
    width: 90%;
    color: rgb(141, 135, 135);
    font-weight: 400;
    font-size: 0.9375rem;
}

.img-caption-source{
    color: rgb(136, 136, 136);
    font-size: 0.8125rem;
    line-height: 1.125rem;
}

.img-title{
    font-family: nyt-cheltenham, georgia, times new roman, times, serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.img-subtitle{
    color: rgb(102, 102, 102);
    font-family: nyt-cheltenham-sh, georgia, times new roman, times, serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.paragraph{
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 0.9375rem;
}

#article-image01{
    width: 75rem;
}

#article-image02{
    width: 59.063rem;
}

#article-image03{
    width: 45rem;
}

#grid-inflation{
    display: grid;
    grid-template: repeat(2, 9fr 11fr) / repeat(4, 1fr);
}

.grid-title{
    font-size: 0.688rem;
    font-weight: bold;
    letter-spacing: .05em;
}

.grid-paragraph{
    color: rgb(0, 0, 0);
    font-family: nyt-franklin, arial, helvetica, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.063rem;
    margin: 0.938rem 0.2rem;
}

#grid-inflation > *:last-child{
    grid-area: 1 / 1 / -1 / -1;
    z-index: -1;
}

#grid-inflation > *:nth-child(1){ grid-area: 2 / 1 / span 1 / span 1; }

#grid-inflation > *:nth-child(2){ grid-area: 2 / 2 / span 1 / span 1; }

#grid-inflation > *:nth-child(3){ grid-area: 2 / 3 / span 1 / span 1; }

#grid-inflation > *:nth-child(4){ grid-area: 2 / 4 / span 1 / span 1; }

#grid-inflation > *:nth-child(5){ grid-area: 4 / 1 / span 1 / span 1; }

#grid-inflation > *:nth-child(6){ grid-area: 4 / 2 / span 1 / span 1; }

#grid-inflation > *:nth-child(7){ grid-area: 4 / 3 / span 1 / span 1; }

#grid-inflation > *:nth-child(8){ grid-area: 4 / 4 / span 1 / span 1; }

.footer-line{
    color: rgb(51, 51, 51);
    font-family: nyt-franklin, arial, helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
}

.footer-line::before{
    width: 3.75rem;
    content: '';
    display: block;
    height: 1px;
    margin: 0 0 0.813rem;
    background-color: black;
}
