html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a{
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

.clickable{
    cursor: pointer;
}

.minimal-button{
    background-color: transparent;
    border-color: transparent;
    font-size: 1.5rem;
    transition: 0.9s;
}

.minimal-button:hover{
    background-color: rgba(216, 216, 216, 0.486);
}

.minimal-a{
    text-decoration: none;
    font-weight: bold;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    color: black;
}

.minimal-a:hover{
    text-decoration: underline;
}

.color-button{
    background-color: #567b95;
    border-color: transparent;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 0.6875rem;
    height: 2rem;
    margin: 0.1rem;
    color: white;
    border-radius: 0.25rem;
    transition: 0.9s;
}

.color-button:hover{
    background-color: #326891;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.black-text{
    color: black;
}

.vertical-margin{
    margin-top: 2.6875rem;
    margin-bottom: 1.5625rem;
}

.vertical-margin > *{
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

header{
    border-bottom: thin solid rgb(177, 177, 177);
    height: 3rem;
    display: grid;
    grid-template: 100% / 1fr auto 3fr auto 3fr auto 1fr;
}

header > *{
    display: flex;
    align-items: center;
}

header > img{
    vertical-align: bottom;
}

header > :first-child{
    grid-column: 2 / span 1;
}

header > :nth-child(2){
    grid-column: 4 / span 1;
}

header > :last-child{
    grid-column: 6 / span 1;
}

.column-width{
    width: 33%;
}

h1{
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-style: italic;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
}

.article{
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

.align-image{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.align-image img{
    width: 100%;
}

.img-caption{
    margin-top: 0.5rem;
    width: 80%;
    color: rgb(141, 135, 135);
    font-weight: 400;
    font-size: 0.9375rem;
}

.img-caption-source{
    color: rgb(136, 136, 136);
    font-size: 0.8125rem;
    line-height: 1.125rem;
}

.paragraph{
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 0.9375rem;
}

#article-image01{
    width: 75rem;
}
