html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-color: #eceef1;
    display: grid;
    grid-template-rows: 7rem auto 6rem;
    grid-gap: 2rem 0;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: rgb(57, 128, 175);
}

h2{
    color: rgb(76, 76, 76);
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.65;
    text-align: center;
}


hr{
    width: 85%;
    border-color: white;
}

.centered-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smaller-font{
    font-size: 0.75rem;
}

.smallest-font{
    font-size: 0.6rem;
}

.wrap-text{
    text-align: center;
}

header{
    padding: 1.25rem;
}

header img{
    display: block;
    margin: 0.35rem;
}

#sign-in{
    background-color: white;
    border: 1px solid gray;
    height: 100%;
    width: 23.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sign-in-inputs{
    align-items: flex-start;
    margin: 2rem;
}

#sign-in-inputs > *{
    margin: 0.6rem 0;
    width: 100%;
    box-sizing: border-box;
}

#sign-in-button{
    background-color: #0077c5;
    border: 0;
    border-radius: 0.25rem;
    height: 3rem;
    color: white;
}

#sign-in-disclaimer{
    text-align: center;
    color: rgb(141, 144, 150);
    line-height: 0.4rem;
}

#sign-in-account-help{
    margin: 1rem 0;
    font-size: 0.875rem;
    line-height: 1.3rem;
}

#sign-in-recaptcha{
    background-color: #eceef1;
    color: rgb(141, 144, 150);
    text-align: center;
    padding: 1rem 0;
}

footer{
    font-size: 0.75rem;
    font-weight: lighter;
    color: rgb(80, 80, 80);
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial sans-serif;
}
