:host{
    background-color: rgb(73, 73, 243);
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

button{
    height: 2rem;
    width: 6rem;
}

* {
    margin: 0rem 2rem;
}
