<div class="pomodoro-clock" [ngClass]="pomodoroService.isBreak ? 'break' : 'noBreak'">
    <h1>{{ Math.floor(pomodoroService.currentTime / 60) | number:'2.0-0' }}:{{ pomodoroService.currentTime % 60 | number:'2.0-0'}}</h1>
    <span>&nbsp;{{ pomodoroService.currentTitle }}</span>

    <span *ngIf="pomodoroService.isPaused" class="control-buttons">
        <button (click)="pomodoroService.clock.resume()">Resume</button>
        <button (click)="pomodoroService.clock.done()" [disabled]="!pomodoroService.isBreak &&
            pomodoroService.currentTime === pomodoroService.clock.scheme.getPeriodDuration()">
            {{ pomodoroService.isBreak ? 'Skip' : 'Done' }}
        </button>
    </span>

    <span *ngIf="!pomodoroService.isPaused" class="control-buttons">
        <button (click)="pomodoroService.clock.pause()">Pause</button>
        <button (click)="pomodoroService.clock.done()" *ngIf="pomodoroService.isBreak">Skip</button>
        <button (click)="pomodoroService.clock.stop()" *ngIf="!pomodoroService.isBreak">Stop</button>
    </span>
</div>
