<h2>Schemes</h2>
<h3>Pomodoro duration, Short break duration, Long break duration, Long break delay</h3>

<button (click)="pomodoroService.createScheme()">NEW SCHEME</button>
<div class ="scheme" *ngFor="let scheme of pomodoroService.createdSchemes">
    <button *ngIf="pomodoroService.clock.scheme !== scheme" (click)="pomodoroService.clock.scheme = scheme">✓</button><!-- Select this Scheme -->
    <input type="number" min="1" [value]="scheme.pomodoroDuration/60" (change)="scheme.pomodoroDuration = parseInt($event.target.value)*60">
    <input type="number" min="1" [value]="scheme.shortBreakDuration/60" (change)="scheme.shortBreakDuration = parseInt($event.target.value)*60">
    <input type="number" min="1" [value]="scheme.longBreakDuration/60" (change)="scheme.longBreakDuration = parseInt($event.target.value)*60">
    <input type="number" min="1" [value]="scheme.longBreakDelay" (change)="scheme.longBreakDelay = parseInt($event.target.value, 10)">
    <button *ngIf="pomodoroService.defaultPomodoro !== scheme" (click)="pomodoroService.removeScheme(scheme)">❌</button><!-- Remove this Scheme -->
</div>

<h2>Notification Volume</h2>
<div>
    <input type="range" min="0" max="100" [value]="configurationService.volume * 100" (change)="updateVolume($event.target.value)">
    {{ configurationService.volume * 100 | number:'2.0-2' }}
</div>

<h2>Username</h2>
<input [value]="configurationService.username" (change)="configurationService.username = $event.target.value">
