html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
}

h1{
    font-size: 18px;
    color: #030303;
}

h2{
    font-size: 14px;
    color: rgb(96, 96, 96);
}

a{
    text-decoration: none;
    color: gray;
    font-size: 2rem;
}

body{
    background-color: #f9f9f9;

    display: grid;
    grid-template-areas:
    "top-bar top-bar"
    "content side-bar";
    grid-template-rows: 3.55rem auto;
    grid-template-columns: 79rem auto;
}

#top-bar{
    background-color: white;
    width: 100%;

    grid-area: top-bar;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#top-bar > *{
    width: 13rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 0.9rem;
}

#logo{
    height: 2rem;
}

#login{
    border: 1px solid rgb(20, 90, 240);
    color: rgb(20, 90, 240);
    float: right;
    display: block;
    font-size: smaller;
    padding: 0.4rem;
    height: 1.6rem;
}

#login > img {
    display: inline-block;
    width: 1.9rem;
    vertical-align: middle;
}

#content, #side-bar{
    margin-left: 9rem;
    margin-top: 1.5rem;
}

#content{
    grid-area: content;
}

#youtube-video{
    width: 69rem;
    height: 44rem;
}

#side-bar{
    grid-area: side-bar;
}