*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* HEADER */

#nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 32px 0px;
}

#logo{
    width: 106px;
    height: 80px;
    position: absolute;
    left: 0;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
}

#logo > img{
    height: 16px;
}

.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav ul{
    margin: 0;
    padding-left: 0.625rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav li{
    display: inline;
    margin: 0 0.4rem;
}

#nav-top{
    height: 32px;
    color: rgb(85, 85, 85);
    background-color: black;
    font-size: 0.8125rem;
}

#nav-bottom{
    height: 48px;
    color: rgb(170, 170, 170);
    background-color: white;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.icon-box{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 50px;
    height: 48px;
    cursor: pointer;
}

#mobile-hamburger{
    display: none;
}

/* MAIN ARTICLES */

#main-articles{
    width: 100%;
    height: 35rem;
    display: grid;
    grid-template: 50% 50% / 66.66666% 33.33334%;
    color: white;
}

#main-articles h1{
    font-size: 1.75rem;
    font-family: Avalon, sans-serif;
    font-weight: 700;
}

#main-articles > .article:first-child{
    grid-row: 1 / span 2;
}

#main-articles > .article:first-child h1{
    font-size: 3.5rem;
    font-family: Avalon, sans-serif;
    font-weight: 700;
}

.article{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0.5rem;

    background-image: url('assets/article-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* LATEST (BODY) */

#latest-body{
    margin-top: 3rem;
}

#latest-body-wrapper{
    max-width: 74.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-title{
    color: rgb(255, 68, 34);
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 700;
}

.section-title::after{
    content: ' >';
    display: inline;
}

/* LATEST NEWS */

#latest-news{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.story{
    flex-basis: 25%;
    max-width: 25%;
    padding: 0.5rem;
}

.story > img{
    width: 100%;
}

.story > div{
    font-weight: 700;
    font-size: 1rem;
    font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}

.story > div > div{
    font-size: 0.8125rem;
    color: rgb(170, 170, 170);
}

@media only screen and (max-width: 1200px){

    /* HEADER */

    #nav{
        padding-left: 106px;
    }

    #logo{
        visibility: visible;
        display: inline-flex;
    }

    .story{
        flex-basis: 33.333333%;
        max-width: 33.333333%;
    }
}

@media only screen and (max-width: 831px){

    /* HEADER */

    #mobile-hamburger{
        visibility: visible;
        display: inline-block;
    }

    #nav{
        height: 48px;
    }

    #logo{
        height: 48px;
    }

    #nav-top{
        display: none;
    }

    #nav-bottom .nav-left{
        display: none;
    }

    #nav-bottom{
        justify-content: flex-end;
    }

    /* MAIN ARTICLES */

    #main-articles{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        color: white;
    }

    #main-articles h1{
        font-size: 1.25rem;
    }

    #main-articles > .article:first-child{
        grid-row: none;
    }

    #main-articles > .article:first-child h1{
        font-size: 1.25rem;
    }

    .article{
        height: 7.95625rem;
    }

    #latest-news{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .story{
        max-width: 100%;
    }

    .story > img{
        width: 75px;
        height: 75px;
        object-fit: cover;
        float: left;
    }

    .story > div{
        font-size: 0.875rem;
        margin: 0.5rem;
        display: inline;
    }

    .story > div > div{
        font-size: 0.75rem;
        display: inline-block;
        margin: 0.5rem;
    }
}
