html, body{
    margin:0;
}

.nav-il{
    display: block;
    margin: 0px 10px;
    padding: 10px;
    height: 100%;
    line-height: 100%;
    text-align: middle;
}

.nav-ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

#header-ul{
    margin-top: 10px;
}

#footer-ul{
    position: absolute;
    bottom: 0px;
    background-color: rgb(224, 221, 221);
}

li.left, li.right{
    list-style-type: none;
    height: 2.4rem;
}

li.left{
    float: left;
}

li.right{
    float: right;
}

a{
    font-size: 0.8rem;
    color:inherit;
    text-decoration: none;
}

#btn-login{
    line-height: 80%;
    background-color: rgb(111, 150, 236);
    color: white;
}

.centered{
    display: block;
    margin: 2rem auto;
    position: relative;
    top: 8rem;
    text-align: center;
}

input{
    width: 35em;
    height: 2em;
    border-radius:15px;
}