*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.relevance-1{ background-color: rgb(240, 240, 240);}
.relevance-2{ background-color: rgb(185, 185, 185);}
.relevance-3{ background-color: rgb(130, 130, 130); color: white;}
.relevance-4{ background-color: rgb(75, 75, 75); color: white;}


#nav-bar{
    height: 6.78125rem;
}

.wrap-flex{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.center-flex{
    justify-content: center;
}

.long-height{
    height: 47.91875rem;
}

.average-height{
    height: 35.6375rem;
}

.short-height{
    height: 39.05rem;
}

.shorter-height{
    height: 40.125rem;
}

.half-width{
    flex: 2 2 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 10rem 2rem 2rem;
}

.third-width{
    width: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
}

.quarter-width{
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.posts-with-red-box{
    margin: 1rem;
}

.posts-with-red-box .half-width{
    padding-top: 5rem;
}

.button-simulated{
    height: 3.5rem;
    width: max-content;
    padding: 1rem 0.5rem;
    margin: 3rem auto 0 auto;
}

.profile-photo{
    display: inline-block;
    width: 5.425rem;
    height: 6.04375rem;
}

h3.profile-photo{
    display: inline;
}

.half-width *, .quarter-width *, #floating-title *{
    text-transform: capitalize;
}

#floating-title{
    position: absolute;
    top: 3.125rem;
    left: 37%;
    right: 37%;
    text-align: center;
    border-width: 0;
}

#floating-title span{
    padding: 0.3rem 0.4rem;
    font-size: 1.875rem;
    font-feature-settings: "onum";
}

.ad-square{
    width: 24.5125rem;
    height: 13.84375rem;
}

.lone-link{
    padding: 2rem 0 4rem;
}

.lone-link > div{
    text-align: center;
    margin: auto;
    width: max-content;
    padding: 1rem;
}

#book-promotion{
    height: 68.38875rem;
    text-align: center;
    padding-top: 3.5rem;
}

#book-promotion > *:nth-child(2){
    height: 5.38125rem;
}

#person-of-the-week{
    width: 100%;
    display: flex;
    align-items: flex-end;
}

#person-of-the-week > *, .person > *{
    margin: 0.7rem;
}

#person-of-the-week > .profile-photo{
    width: 15.125rem;
    height: 16.125rem;
}

#person-of-the-week > *:last-child{
    display: inline-block;
    font-size: calc(.35842vw + .95296em);
    width: calc(100% - 17rem);
}

.person{
    height: 23.85rem;
    display: flex;
    flex-direction: row;
}

.person > *:last-child{
    display: inline-block;
    font-size: 1rem;
    width: calc(100% - 7rem);
}

#design-systems{
    height: 25.375rem;
    margin: 1rem 0;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#design-systems .button-simulated{
    margin-left: 2rem;
}
