*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.relevance-1{ background-color: rgb(240, 240, 240);}
.relevance-2{ background-color: rgb(185, 185, 185);}
.relevance-3{ background-color: rgb(130, 130, 130); color: white;}
.relevance-4{ background-color: rgb(75, 75, 75); color: white;}


#nav-bar{
    height: 6.78125rem;
}

.wrap-flex{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.long-height{
    height: 47.91875rem;
}

.short-height{
    height: 39.05rem;
}

.half-width{
    flex: 2 2 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 10rem 2rem 2rem;
}

.quarter-width{
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.posts-with-red-box{
    margin: 1rem;
}

.posts-with-red-box .half-width{
    padding-top: 5rem;
}

.button-simulated{
    height: 3.5rem;
    width: max-content;
    padding: 1rem 0.5rem;
    margin: 3rem auto 0 auto;
}

.profile-photo{
    display: inline-block;
    width: 5.425rem;
    height: 6.04375rem;
}

h3.profile-photo{
    display: inline;
}

.half-width *, .quarter-width *, #floating-title *{
    text-transform: capitalize;
}

#floating-title{
    position: absolute;
    top: 3.125rem;
    left: 37%;
    right: 37%;
    text-align: center;
    border-width: 0;
}

#floating-title span{
    padding: 0.3rem 0.4rem;
    font-size: 1.875rem;
    font-family: Mija;
    font-feature-settings: "onum";
}

.ad-square{
    width: 24.5125rem;
    height: 13.84375rem;
}

#latest-articles{
    padding: 2rem 0 4rem;
}

#latest-articles > div{
    text-align: center;
    margin: auto;
    width: max-content;
    padding: 1rem;
}

#book-promotion{
    height: 68.38875rem;
    text-align: center;
    padding-top: 3.5rem;
}

#book-promotion > *:nth-child(2){
    height: 5.38125rem;
}

