:host{
    width: 60rem;
    display: block;
    border-top: thin white;
}

:host > * {
    width: 100%;
}

table td, th *{
    width: 98%;
}

.category{
    display: inline-block;
    border: 1px solid wheat;
    margin: 0.4rem;
}

#bottom-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}